/* navbar */
nav{
    height: 60px;
}

nav .img-mobile{
    max-width: 70px;
}

nav .input-container{
    color: black;
    flex-grow: 1;
    background-color: #e5e5e5;
}

nav .fa-search{
    width: 30px;
    text-align: center;
    line-height: 2;
}

nav .input-container .search-nav{
    width: calc(100% - 40px);
    background-color: #e5e5e5;
}

nav .fa-bell{
    font-size: 1.3em;
    color: orange;
}

nav .icon-desktop{
    color: #594f4f;
}


/* navbar */


/* container dashboard */

.container-dashboard{
    height: calc(100vh - 60px);
}


/* aside */
.container-dashboard aside{
    width: 60px;
    height: 100%;
    background-color: #0a2238;
    background-image: url(../img/sidebar-bg.png);
}

/*/ aside */

/* container center */
.container-dashboard .container-center{
    width: calc(100% - 60px);
    height: 100%;
    overflow: auto;
    
}

/* heaader */

.container-dashboard .container-center .back-header{
    background-color: #1b72e8;
} 
/* offcanvas container */
header .header-right .offcanvas-container .fa-plus{
    padding: .3em; 
}

.input-width{
    width: 40%;
}
/*/ offcanvas container */


.my-badge{
    
    background-color: #165bbac7;
    text-decoration: none;
  
}

.breadcrumb-item.my-before::before{
    color: white;
}

.list-active{
    min-width: 190px;
}
/*/ heaader */


/* main */
.container-dashboard .container-center main{
    height: calc(100% - 130px);
    background-color: #f8f9fa;
}


/* card */
.table thead th:not(:first-child){
    text-align: center;
}

.table tbody td:not(:first-child){
    width: 115px;
}

.table .image-table{
    width: 30px;
}

.table .icon-table{
    padding: .3em;
    border: 1px solid #6c757d;
    border-radius: .2em;
    color: #6c757d;
}


/* card checkbox */
#myform{
    border: 1px solid grey;
}

/* /card checkbox */

/*/ card */



/* main */

/* /container center */




/* /container dashboard */



/* media queries */
@media screen and (min-width: 577px){
    nav{
        height: 100px;
    }
    .container-dashboard{
        height: calc(100vh - 100px);
    }
    .container-dashboard aside{
        width: 100px;
    }
    .container-dashboard .container-center{
        width: calc(100% - 100px);
    }
}

@media screen and (max-width: 990px) {
    .offcanvas-end{
        width: 80%;
    }

}

@media screen and (min-width: 768px){
    nav{
        height: 80px;
    }
    .container-dashboard{
        height: calc(100vh - 80px);
    }
}



/* media queries */
